@import '@/mixins.scss';
@import '@/theme-styles.scss';

[data-theme="dark"] {
  .team {
    &Info {
      &Title {
        color: $primary-text-color-dark-mode;
      }
  
      &Text {
        color: $primary-text-color-dark-mode;
      }
    }
  }

  .history {
    &Title {
      color: $primary-text-color-dark-mode;
    }

    &Steps {
      &Item {
        color: $primary-text-color-dark-mode;
        background-color: $primary-color-dark-mode;
      }
    }
  }
}

.aboutUs {
  @include container;
}

.team {
  display: flex;

  &Info {
    margin-right: 20px;

    &Title {
      @include title;
      color: $primary-text-color-light-mode;
      margin-bottom: 10px;
    }

    &Text {
      color: $primary-text-color-light-mode;
      line-height: 1.5;
    }
  }

  &Image {
    width: 100%;
    border-radius: 5px;
  }
}

.history {
  padding: 20px 0;

  &Title {
    @include title;
    color: $primary-text-color-light-mode;
    text-align: center;
    margin-bottom: 20px;
  }

  &Steps {
    display: flex;
    justify-content: space-around;

    &Item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 300px;
      height: 300px;
      color: $primary-text-color-dark-mode;
      background-color: $primary-color-light-mode;
      border-radius: 100%;      
      margin: 0 auto;
      padding: 25px;

      &Year {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      &Descr {
        text-align: center;
      }
    }
  }
}
