@import '../../../mixins.scss';

.aboutUs {
  @include container;
}

.team {
  display: flex;

  &Info {
    margin-right: 20px;

    &Title {
      @include title;
      margin-bottom: 10px;
    }

    &Text {
      line-height: 1.5;
    }
  }

  &Image {
    width: 100%;
    border-radius: 5px;
  }
}

.history {
  padding: 20px 0;

  &Title {
    @include title;
    text-align: center;
    margin-bottom: 20px;
  }

  &Steps {
    display: flex;
    justify-content: space-around;

    &Item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 300px;
      height: 300px;
      background-color: #e8f9d9;
      border-radius: 100%;      
      margin: 0 auto;
      padding: 25px;

      &Year {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      &Descr {
        text-align: center;
      }
    }
  }
}
