* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color .5s, color .5s, border-color .5s, box-shadow .5s;
}

html {
  position: relative;
}

img {
  max-width: 100%;
}
