@mixin title {
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
}

@mixin shadowedBtn {
  color: #121212;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #8d8d8d;
  margin-top: 10px;
  padding: 7px 15px;
  transition: .5s all;
}

@mixin shadowedBtnHover {
  color: #fff;
  background-color: #6d9767;
  cursor: pointer;
}

@mixin container {
  width: 90%;
  margin: 20px auto;
}

@mixin contentBlock {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

@mixin input {
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 2px 5px;
}
