$primary-color-light-mode: #e8f9d9;
$secondary-color-light-mode: #f2f2f2;
$main-color-light-mode: #92c98b;
$secondary-text-color-light-mode: #8f8f8f;
$main-hover-color-light-mode: #6d9767;
$header-form-bg-color-light-mode: #fff;
$border-shadow-color-light-mode: #dddddd;
$primary-text-color-light-mode: #121212;


$primary-color-dark-mode: #284111;
$secondary-color-dark-mode: #1f1f1f;
$main-color-dark-mode: #50664d;
$secondary-text-color-dark-mode: #c9c9c9;
$main-hover-color-dark-mode: #23431e;
$header-form-bg-color-dark-mode: #292929;
$border-shadow-color-dark-mode: #000;
$primary-text-color-dark-mode: #cecece;
