@import '@/mixins.scss';

.card {
  @include contentBlock;

  &Img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
  }

  &Input:not([type="file"]),
  &Textarea,
  &Select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadada;
  }

  &Input,
  &Textarea,
  &Select {
    margin: 3px 0 10px;
  }

  &Textarea {
    resize: none;
  }

  &Label {
    font-size: .9rem;
  }

  &[data-edit="cardEditMode"] {
    .cardInput:not([type="file"]),
    .cardTextarea,
    .cardSelect {
      border: 1px solid #d0d0d0;
      border-radius: 4px;
      padding: 2px;
    }
  }
}

.btns {
  & > * + * {
    margin-left: 10px;
  }

  .editBtn,
  .checkBtn {
    background-color: #185815;

    &:hover {
      background-color: #61ca5c;
    }
  }
}

.deleteBtn {
  color: #cacaca;
  background-color: transparent;
  border: 1px solid #cacaca;

  &:hover {
    color: #fff;
    background-color: #cacaca;
  }
}


