@import '@/mixins.scss';

[data-theme="dark"] {
  .card {
    @include contentBlock($dark-theme: true);

    &:hover {
      box-shadow: 1px 1px 6px $border-shadow-color-dark-mode;
    }

    &Info {
      &Title {
        color: $primary-text-color-dark-mode;
      }

      &Description {
        color: $secondary-text-color-dark-mode;
      }
    }

    &Price {
      color: $primary-text-color-dark-mode;
    }
  }
}

.card {
  @include contentBlock($dark-theme: false);
  border-radius: 5px;
  padding: 15px;
  transition: all .5s;

  &Link {
    color: initial;
    text-decoration: none;

    & > * + * {
      margin-top: .5rem;
    }
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 6px $border-shadow-color-light-mode;
  }

  &Img {
    width: 100%;
    height: 250px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &Info {
    text-align: left;

    &Title {
      color: $primary-text-color-light-mode;
      font-weight: bold;
    }

    &Description {
      color: $secondary-text-color-light-mode;
      font-size: .9rem;
      margin-top: 10px;
    }
  }

  &Price {
    color: $primary-text-color-light-mode;
    font-weight: bold;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
}
