@import '@/mixins.scss';

.card {
  @include contentBlock;
  border-radius: 5px;
  padding: 15px;
  transition: all .5s;

  &Link {
    color: initial;
    text-decoration: none;

    & > * + * {
      margin-top: .5rem;
    }
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 6px #acacac;
  }

  &Img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }

  &Info {
    text-align: left;

    &Title {
      font-weight: bold;
    }

    &Description {
      color: #8d8d8d;
      font-size: .9rem;
      margin-top: 10px;
    }
  }

  &Price {
    font-weight: bold;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
}
