.btn {
  background-color: #92c98b;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  color: #fff;
  transition: .5s all;
  &:hover {
    background-color: #6d9767;
    cursor: pointer;
  }
}