@import '@/mixins.scss';

.formAdd {
  @include contentBlock;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;

  &Description {
    width: 100%;
    color: #787878;
    font-size: 0.85rem;
    margin-bottom: 15px;
  }

  &Input {
    @include input;
    display: block;
    height: 100%;
  }

  &Btn {
    background-color: #185815;
    margin-left: 10px;

    &:hover {
      background-color: #61ca5c;
    }
  }
}

.panel {
  @include contentBlock;
}

.categories {
  @include contentBlock;
}

.categoriesSort {
  label {
    font-size: .9rem;
    color: #8d8d8d;
    margin-bottom: 5px;
  }

  select {
    @include input;
    width: 100%;
  }
}

.sortTitle {
  margin-bottom: 10px;
}
