@import '@/theme-styles.scss';

[data-theme="dark"] {
  .footer {
    background-color: $primary-color-dark-mode;

    .row {
      .column {
        &Title {
          color: $secondary-text-color-dark-mode;
        }

        &Item,
        &Item a {
          color: $primary-text-color-dark-mode;
        }

        &Item a {
          &::after {
            background-color: $primary-text-color-dark-mode;
          }
        }

        .socials {
          svg {
            color: $primary-text-color-dark-mode;
          }
        }
      }
    }

    .copyright {
      color: $secondary-text-color-dark-mode;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color-light-mode;
  padding: 10px 5%;
  margin-top: auto;

  .row {
    margin-top: 25px;

    .column {
      &Title {
        color: $secondary-text-color-light-mode;
      }

      &Item,
      &Item a {
        color: $primary-text-color-light-mode;
        text-decoration: none;
        text-transform: capitalize;
      }

      &Item a {
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: $primary-text-color-light-mode;
          opacity: 0;
          margin-top: 2px;
          transition: .5s all;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      & > * + * {
        width: max-content;
        margin-top: 8px;
      }

      .socials {
        display: flex;
        justify-content: space-between;

        &Item {
          cursor: pointer;
        }

        svg {
          width: 30px;
          height: 30px;
          color: $primary-text-color-light-mode;
        }
      }
    }
  }

  .copyright {
    color: $secondary-text-color-light-mode;
    font-size: .8rem;
    margin-top: 20px;
  }
}
