.cart {
  cursor: pointer;

  &Wrapper {
    position: relative;
  }

  &Window {
    position: absolute;
    width: 350px;
    height: 500px;
    z-index: 10;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ccc;
    padding: .5rem;
  
    &[data-hidden="true"] {
      display: block;
    }
  
    &[data-hidden="false"] {
      display: none;
    }
  }

  &CloseWrapper {
    text-align: right;
  }

  &Close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }

  &Message {
    padding: 1rem 0 2rem;
    text-align: center;
    font-weight: bold;
  }

  &List {
    height: 75%;
    overflow: auto;
  }

  &ClearBtn {
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    color: #8d8d8d;
    background-color: transparent;
    padding: 3px 10px;
    transition: all .5s;

    &:hover {
      background-color: #8d8d8d;
      color: #fff;
      cursor: pointer;
    }
  }
}

.total {
  position: absolute;
  bottom: 10px;
  background-color: #fff;
  width: calc(100% - 15px);

  & > * + * {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {

  .cart {
    &Window {
      width: 300px;
    }
  }

}
