.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.admin {
    background-color: #f2f2f2;
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 1rem;
  width: calc(100% - 230px);
  padding: 20px;
  margin-left: auto;
}
