@import '@/theme-styles.scss';

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $secondary-color-light-mode;
}

[data-theme="dark"] {
  .section {
    background-color: $secondary-color-dark-mode;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
}

.main {
  width: calc(100% - 230px);
  padding: 20px;
  margin-left: auto;
}
