
.window {
  position: fixed;
  min-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;

  &Header {
    display: flex;
    justify-content: flex-end;

    &Close {
      cursor: pointer;
    }
  }
}

