@import '../../../mixins.scss';

.about {
  @include container;

  &Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &Info {
    margin-left: 20px;

    &Title {
      @include title;
      margin-bottom: 10px;
    }
  }
}

.products {
  width: 90%;
  margin: 20px auto 40px;
  text-align: center;

  &Title {
    @include title;
    margin-bottom: 10px;
    text-align: center;
  }
}

.toShop {
  @include shadowedBtn;
  display: inline-block;

  &:hover {
    @include shadowedBtnHover;
  }
}
