@import '@/mixins.scss';

.filters {
  form {
    display: flex;
    align-items: flex-end;

    & > * + * {
      margin-left: 15px;
    }
  }

  &Label {
    display: block;
  }

  &Input,
  &Select {
    @include input;
    width: 100%;
  }

  &Btn {
    color: #8d8d8d;
    background-color: transparent;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    padding: 3px 10px;
    transition: all .5s;

    &:hover {
      color: #fff;
      background-color: #8d8d8d;
      cursor: pointer;
    }
  }
}
