@import '@/mixins.scss';
@import '@/theme-styles.scss';

[data-theme="dark"] {
  .delivery {
    &Title {
      color: $primary-text-color-dark-mode;
    }

    &Vars {
      &Item {
        &Title {
          color: $primary-text-color-dark-mode;  
        }

        &Text {
          color: $primary-text-color-dark-mode;
        }
      }
    }
  }
}

.delivery {
  @include container;

  &Title {
    @include title;
    color: $primary-text-color-light-mode;
    text-align: center;
    margin-bottom: 20px;
  }

  &Vars {
    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 30px;

      &Img {
        width: 70%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
      }

      &Title {
        color: $primary-text-color-light-mode;
        font-weight: bold;
        margin-top: 10px;
      }

      &Text {
        color: $primary-text-color-light-mode;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
