@import '@/mixins.scss';
@import '@/theme-styles.scss';

[data-theme="dark"] {
  .pagination {
    &List {
      @include contentBlock($dark-theme: true);
    }

    &Btn {
      &:not(.current):hover {
        color: $main-hover-color-dark-mode;
      }
    }
  }

  .current {
    color: $main-color-dark-mode;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &List {
    @include contentBlock($dark-theme: false);
    display: flex;
    list-style-type: none;
    border-radius: 20px;
  }

  &Btn {
    font-weight: bold;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    padding: 0 8px;
    cursor: pointer;
    transition: all .5s;

    &:not(.current):hover {
      color: $main-hover-color-light-mode;
    }

    &[disabled] {
      cursor: default;
    }
  }
}

.current {
  color: $main-color-light-mode;
}
