@import '@/mixins.scss';

[data-theme="dark"] {
  .cartListItem {
    &Input {
      @include input($dark-theme: true);
    }
  }
}

.cartListItem {
  display: flex;
  align-items: center;

  &Img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }

  &Input {
    @include input($dark-theme: false);
    max-width: 40px;
  }
}

.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
