@import '../../mixins.scss';

.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;

  &Text {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 30px;

    &Right {
      align-items: flex-end;
    }

    &Left {
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}

.toShop {
  display: flex;
  align-items: center;
  flex-direction: column;

  &Text {
    font-size: 1.5rem;
  }

  .btn {
    @include shadowedBtn;

    &:hover {
      @include shadowedBtnHover;
    }
  }
}

@media (max-width: 600px) {

  .hero {
    &Text {
      &Right {
        justify-content: center;
      }

      &Left {
        justify-content: center;
      }
    }
  }

}
